<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/styles/output.css">
    <link rel="stylesheet" href="/styles/formulario.css">
    <script type="module" src="/scripts/script.js"></script>
    <script type="module" src="/scripts/info-registro.js"></script>
    <% registros.forEach((doc)=> { %>
      <script type="module">
        let btn = document.getElementById('<%= doc.idDocumentos %>')
        if (btn) {
          switch (btn.value) {
            case 'PENDIENTE':
              btn.style.backgroundColor = 'rgb(31 114 216 / 80%)'
              btn.style.color = 'white';
              break;
            case 'INCORRECTO':
              btn.style.backgroundColor = 'rgb(253 22 22 / 80%)'
              btn.style.color = 'white';
              btn.setAttribute('disabled', '')
              break;
            case 'CORRECTO':
              btn.style.backgroundColor = 'rgb(0 200 50 / 80%)'
              btn.style.color = 'white';
              btn.setAttribute('disabled', '')
              break;
            case 'ACTUALIZADO':
              btn.style.backgroundColor = 'rgb(31 114 216 / 80%)'
              btn.style.color = 'white';
              break;
            case 'ACTUALIZAR':
              btn.style.backgroundColor = 'rgb(31 114 216)'
              btn.style.color = 'white'
              btn.setAttribute('disabled', '')
              break;
          }
        }

        (function () {
          var updateButton = document.getElementById("<%= doc.idDocumentos %>")
          console.log(updateButton)
          var cancelButton = document.getElementById("cancel")
          var modalDialog = document.getElementById("modalDialog")
          var pdfObject = document.getElementById("pdfObject");

          // Update button opens a modal dialog
          updateButton.addEventListener("click", function () {
            modalDialog.showModal()
            //var pdfUrl = '/Documentos/' + "<%= doc.datosregistrobeca_codigo %>/" + "<%= doc.nombreArchivo %>"; // La URL del archivo PDF
            //pdfObject.data = pdfUrl; // Asignamos la URL al atributo 'src' del <embed>
            document.getElementById("idDocumentos").value = updateButton.id
            document.getElementById("documento").value = updateButton.getAttribute("data-bs-whatever")
          })

          // Form cancel button closes the dialog box
          cancelButton.addEventListener("click", function () {
            modalDialog.close()
          })
        })()
      </script>
      <% }) %>
</head>

<body>
  <%- include('../layouts/navbar-admin') %>
    <main>
      <div class="div-datosRegistro">
        <h1>Datos de registro</h1>
        <hr style="margin-bottom: 20px;">
        <label class="label-codigo" for="codigo">Codigo</label>
        <label class="label-registro" for="codigo"># de registro</label>
        <input class="inp-codigo" value="<%= codigo %>" readonly>
        <input class="inp-registro" value="<%= user.idRegistro %>" readonly>
        <label for="nombre">Nombre</label>
        <input value="<%= user.nombre %> <%= user.apePaterno %> <%= user.apeMaterno %>" readonly>
        <label for="correo">Correo</label>
        <input type="email" name="correo" id="correo" value="<%= user.correo %>" readonly>
        <label class="label-carrera">Carrera</label>
        <label class="label-semestre">Semestre</label>
        <input class="inp-carrera" value="<%= user.carrera %>" readonly>
        <input class="inp-semestre" value="<%= user.semestre %>" readonly>
        <label class="label-telP">Telefono de contacto</label>
        <label class="label-telS">Telefono secundario</label>
        <input class="inp-telP" value="<%= user.telPrincipal %>" readonly>
        <input class="inp-telS" value="<%= user.telSecundario %>" readonly>
      </div>

      <div class="div-docRegistro">
        <h1>Documentos de la solicitud</h1>
        <hr>
        <table>
          <thead>
            <tr>
              <th class="whitespace-nowrap">Documento</th>
              <th class="whitespace-nowrap">Observaciones</th>
              <th class="whitespace-nowrap">Estatus</th>
            </tr>
          </thead>
          <% registros.forEach((doc)=>{ %>
            <tbody>
              <tr>
                <td class="whitespace-nowrap">
                  <%= doc.nombreArchivo %>
                </td>
                <td class="whitespace-nowrap">
                  <%= doc.observaciones %>
                </td>
                <td class="whitespace-nowrap">
                  <button id="<%= doc.idDocumentos %>" value="<%= doc.validarArchivo %>" style="width: 100%;"
                    data-bs-toggle="modal" data-bs-target="#actualizar" data-bs-whatever="<%= doc.nombreArchivo %>">
                    <%= doc.validarArchivo %>
                  </button>
                </td>
              </tr>
            </tbody>

            <!-- <dialog class="modal-pdf" id="modalDialog">
              <div class="pdf-container">
                <h1>Documento PDF</h1>
                <hr>
                <object id="pdfObject" type="application/pdf" width="100%" height="600px">></object>
                <footer>
                  <button class="cancel" id="cancel" type="reset">Cancelar</button>
                  <button class="confirm" type="submit">Validar</button>
                </footer>
              </div>
            </dialog> -->
            <dialog class="modal" id="modalDialog">
              <div class="formulario">
                <h1>Validar documento</h1>
                <form id="form" method="post" action="#" enctype="multipart/form-data">
                  <hr>
                  <div class="cod">
                    <label for="codigo">Codigo</label>
                    <input type="text" name="codigo" id="codigo" value="<%= codigo %>" readonly>
                  </div>
                  <div class="idDoc">
                    <label for="idDocumentos"># Doc</label>
                    <input type="text" name="idDocumentos" id="idDocumentos" readonly>
                  </div>
                  <div class="doc">
                    <label for="documento">Documento</label>
                    <input type="text" name="documento" id="documento" readonly>
                  </div>
                  <div class="doc">
                    <label for="estatus">Estatus</label>
                    <select name="estatus" id="estatus">
                      <option value="PENDIENTE">PENDIENTE</option>
                      <option value="INCORRECTO">INCORRECTO</option>
                      <option value="CORRECTO">CORRECTO</option>
                      <option value="ACTUALIZADO">ACTUALIZAR</option>
                    </select>
                  </div>
                  <div class="doc">
                    <label for="observaciones">Observaciones</label>
                    <textarea name="observaciones" id="observaciones" cols="30" rows="3"></textarea>
                  <footer>
                    <button class="cancel" id="cancel" type="reset">Cancelar</button>
                    <button class="confirm" type="submit">Actualizar</button>
                  </footer>
                </form>
              </div>
            </dialog>
            <% }) %>
        </table>
      </div>
    </main>
</body>

</html>