<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/styles/login.css">
</head>

<body data-theme="light">
  <main>
    <div class="div-login">
      <img src="/img/LogoCUT.png" alt="Logo CuTonala">
      <form action="/alumnos/iniciar-sesion-estudiante" method="post" id="login">
        <label for="codigo">C칩digo</label>
        <input type="text" name="codigo" id="codigo" pattern="[0-9]+" inputmode="numeric" placeholder="C칩digo"
          required>
        <label for="password">Contrase침a</label>
        <input type="password" name="password" id="password" placeholder=" Contrase침a" required>
        <button type="submit" id="entrar" disabled>Entrar</button>
      </form>
    </div>
  </main>

    <script src="/scripts/sweetalert2.all.min.js"></script>
    <script>
      const codigo = document.getElementById('codigo')
      const password = document.getElementById('password')
      const btn = document.getElementById('entrar')

      function checkInputs() {
        if (codigo.value === '' || password.value === '') {
          btn.disabled = true
        } else {
          btn.disabled = false

        }
      }

      codigo.addEventListener('input', checkInputs)
      password.addEventListener('input', checkInputs)

      const alerta = <%= JSON.stringify(alerta) %>;
      const posicion = '<%= posicion %>';
      const icono = '<%= icono %>';
      const mensaje = '<%= mensaje %>';
      const boton = <%= boton %>;
      const temporizador = <%= temporizador %>;

      if (alerta) {
        Swal.fire({
          position: posicion,
          icon: icono,
          title: mensaje,
          showConfirmButton: boton,
          timer: temporizador
        })
      }
    </script>
</body>

</html>